/*------------------------------------*\
    #Main Styles
\*------------------------------------*/

html, 
body, 
.container {
	height: 100%;
}

body, 
.container,
#circle-form {
	position: relative;
}

.circle,
.call-to-action {
	text-transform: uppercase;
	font-weight: 700;	
}

.circle, .row {
	position: absolute;
}

.circle {
	font-size: 36px;
	text-align: center;	
}

#circle-form {
	z-index: 9999;
}

.row {
	position: absolute;
	top: 50%;
	left: 0;
	right: 0;
	height: 46px;
	margin-top: -23px;
}

.circle {
	height: 60px;
	width: 60px;
	line-height: 60px;
	border-radius: 50%;
	background-color: #CF000F;
	color: #fff;
	position: absolute;
}